# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\JavaProject\WebBE_Module3\Week 2\[Bài tập] Tạo gallery đơn giản sử dụng Bootstrap\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
