body{
    font-size:12px;
    width: 100%;

}
#main{
    width: 100%;
    padding: 0;
    border: 1px solid;
}
#head{
    height: 100px;
    background-color: hotpink;
    border: 1px solid;
    padding: 15px;
}
#head-link{
    height: 30px;
    left: 0px;
    right: 0px;
    border: 1px solid;

    clear: both;
}
#left{
    height: 150px;
    width: 25%;
    border: 1px solid;
    float: left;
    padding: 0;

}

#content{
    float: left;
    width:50%;
    border: 1px solid;
    padding: 0;
    height: 150px;
    margin-left: 5px;

}
#right{
    width:  24% ;
    float: left;
    border: 1px solid;
    height: 150px;
    padding: 0;
    margin-left: 5px;

}
#footer{
    clear: both;
    padding-top: 15px;
    border: solid 1px;

    height: 200px;

}
