.boxmodel{
    margin: auto;
    width: 90%;
    border: 10px solid;
    padding:10px;
    border-color: blue green yellow hotpink;

}
.boxmodel p{
    border: 3px dotted lightpink;
    padding: 10px;
}

#box1{
    margin-top: 10px;
}
#box2{
    margin-top: 20px;
}

#box3{
    margin-top: 30px;
}
